.dropzone {
  padding: 1rem;
  border: 2px dashed #c2cdd9;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 350px;
  height: 350px;
  background-color: #fff;
  margin-bottom: 25px;
}

.active {
  border: 2px solid #7a6ffa;
}

.container {
  background-color: #f9f9fc;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b5c7a;
  flex-direction: column;
}

.or {
  text-weight: 200;
  color: #c6c6c6;
}

.btnUpload {
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  padding: 20px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(89, 131, 251, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.iconFormat {
  width: 40px;
  height: 40px;
  background-color: #00ac58;
  font-weight: bold;
  font-size: 10px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconDelete {
  width: 30px;
  height: 30px;
  background-color: red;
  text-weight: bold;
  font-size: 10px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameFile {
  font-weight: bold;
  margin-left: 10px;
  text-align: left;
}

.listItems {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.wrapperIconName {
  display: flex;
  align-items: center;
}

.size {
  font-weight: 400;
}
